h2 {
  margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}

button.fancy{
  border: none;
  font-family: inherit;
  cursor: pointer;
  background-color: #fcba03;
  color: #fff;
  border-radius: 0.8em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em 0.75em;
  min-width: 5ch;
  min-height: 2em;
}
